@use '@/styles/colors' as c;
@use '@/styles/vars' as v;

.chat-room {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  padding: v.$gut;

  .message-view {
    border-top: 1px solid var(--border-color);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-grow: 1;
    gap: v.$gut;
    overflow-y: auto;
  }
}

.reply-item {
  display: flex;
  gap: v.$gut * 3;

  &-pfp {
    border: 3px solid var(--border-color);
    border-radius: 50%;
    flex: 0 0 18px;
    height: 39px;
    width: 39px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    font-family: Telex;
    gap: v.$gut;
    padding-top: v.$gut * 0.5;

    .content-header {
      align-items: flex-end;
      display: flex;
      gap: v.$gut;

      &-name {
        // color: var(--inverted-text);
        font-size: 15px;
        font-weight: 700;
        line-height: 1;
      }

      &-time {
        color: var(--primary-color);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.045em;
        line-height: 1;
      }
    }

    &-msg {
      border-radius: 21px;
      // color: var(--inverted-text);
      flex: 0 0 min(max-content, 210px);
      // font-family: Inter, sans-serif;
      font-size: 15px;
      font-weight: 400;
      // letter-spacing: -0.006em;
      padding: v.$gut 0 v.$gut * 4;
    }
  }
}