@use '@/styles/vars' as v;
@use '@/styles/colors' as c;

:root {
  --cw: 50%;
}

.app-layout {
  display: grid;
  grid-template-columns: calc(100% - var(--cw)) var(--cw);
  grid-template-rows: 1fr;
  height: calc(100vh - v.$th);
  transition: grid-template-columns 125ms ease-in;

  &.full-screen {
    grid-template-columns: 100% 0%;
  }

  &-content {
    padding-top: v.$gut;
  }

  .side-panel {
    @include c.light-blur-bg(0.3);
    border-left: 1px solid var(--border-color);
    display: grid;
    grid-template-columns: 3px 1fr;
    grid-template-rows: 33px calc(100vh - 33px - v.$th);

    &:is(.wallet-open) {
      grid-template-rows: 33px 180px calc(100vh - 33px - 180px - v.$th);
    }

    &:is(.minimized) {
      bottom: 0;
      position: fixed;
      right: 0;
      top: v.$th;
      transition: transform 125ms ease-in;
      width: var(--cw);

      &.close {
        transform: translateX(100%);
      }
    }

    &-handle {
      background-color: var(--border-color);
      cursor: col-resize;
      grid-row: span 3;
      height: 100%;
      opacity: 0;
      transition: opacity 125ms ease-out;

      &:hover {
        opacity: 1;
      }
    }

    header {
      align-items: center;
      display: flex;
      gap: v.$gut;
      padding: 0 v.$gut;

      .breadcrumb-nav {
        flex-grow: 1;
      }

      .wallet-btn {
        color: #FFFFFF9D;
        padding: 9px 3px 6px;
        transition: color 125ms ease-out;

        &:hover {
          color: #FFFFFFFF;
        }

        svg {
          height: 21px;
          width: 21px;
        }
      }

      .close-btn {
        @include c.light-blur-bg(0.12);
        border-radius: 3px;
        color: #FFFFFF9D;
        padding: 0 v.$gut * 0.25;

        svg {
          height: 16px;
          width: 16px;
        }
      }
    }

    &-open-btn {
      @include c.light-blur-bg;
      border-radius: 50%;
      cursor: pointer;
      left: 0;
      padding: v.$gut v.$gut * 1.2;
      position: absolute;
      top: v.$gut;
      transform: translate(calc(-100% - v.$gut));
      transition: background 125ms ease-out;

      &:hover {
        @include c.light-blur-bg(0.3);
      }

      svg {
        fill: #FFFFFF9D;
        height: 18px;
        width: 18px;
      }
    }
  }
}