@use '@/styles/colors' as c;
@use '@/styles/vars' as v;

.message-form {
  align-items: center;
  display: flex;

  .input-wrapper {
    @include c.light-blur-bg(0.6);
    align-items: flex-end;
    border-radius: v.$br;
    display: flex;
    flex-grow: 1;
    padding: v.$gut v.$gut * 1.8 v.$gut v.$gut * 2.1;
    transition: outline 125ms cubic-bezier(0.39, 0.575, 0.565, 1);

    &:has(textarea:focus-visible) {
      outline: 2px solid var(--border-color);
    }

    &.multi-line {
      border-radius: 16px;
    }

    .text-input {
      background-color: transparent;
      border: none;
      flex-grow: 1;
      font-family: Telex;
      font-size: 15px;
      line-height: 1.2;
      padding: v.$gut * 0.5 0;
      resize: none;

      &:focus-visible {
        outline: none;
      }

      &::placeholder {
        color: var(--muted-color);
      }
    }

    $promptColor: #0000004F;

    &::after {
      border: 1.5px solid $promptColor;
      border-radius: 4px;
      color: $promptColor;
      content: 'Enter';
      display: block;
      flex: 0 0 40px;
      font-size: 12px;
      font-weight: 600;
      padding: v.$gut * 0.5;
    }
  }
}