@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500&display=swap');

// Sporting Grotesque By Lucas Le Bihan and some contributions by George Triantafyllakos + Maciej Połczyński distrubuted by Velvetyne Type Foundry
@font-face {
  font-family: "Sporting Grotesque";
  font-weight: 100 400;
  src: url('@/assets/fonts/SportingGrotesque-Regular.otf');
}

// Sporting Grotesque By Lucas Le Bihan and some contributions by George Triantafyllakos + Maciej Połczyński distrubuted by Velvetyne Type Foundry
@font-face {
  font-family: "Sporting Grotesque";
  font-weight: 500 900;
  src: url('@/assets/fonts/SportingGrotesque-Bold.otf');
}

@font-face {
  font-family: "Marfa";
  font-weight: 100;
  src:
    url('@/assets/fonts/ABCMarfa-Thin-Trial.otf') format('opentype'),
    url('@/assets/fonts/ABCMarfa-Thin-Trial.woff') format('woff'),
    url('@/assets/fonts/ABCMarfa-Thin-Trial.woff2') format('woff2');
}

@font-face {
  font-family: "Marfa";
  font-weight: 400;
  src:
    url('@/assets/fonts/ABCMarfa-Medium-Trial.otf') format('opentype'),
    url('@/assets/fonts/ABCMarfa-Medium-Trial.woff') format('woff'),
    url('@/assets/fonts/ABCMarfa-Medium-Trial.woff2') format('woff2');
}

@font-face {
  font-family: "Marfa";
  font-weight: 600;
  src:
    url('@/assets/fonts/ABCMarfa-Semibold-Trial.otf') format('opentype'),
    url('@/assets/fonts/ABCMarfa-Semibold-Trial.woff') format('woff'),
    url('@/assets/fonts/ABCMarfa-Semibold-Trial.woff2') format('woff2');
}

@font-face {
  font-family: "Marfa";
  font-weight: 800;
  src:
    url('@/assets/fonts/ABCMarfa-Bold-Trial.otf') format('opentype'),
    url('@/assets/fonts/ABCMarfa-Bold-Trial.woff') format('woff'),
    url('@/assets/fonts/ABCMarfa-Bold-Trial.woff2') format('woff2');
}

@font-face {
  font-family: "Comfortaa";
  font-weight: 300;
  src: url('@/assets/fonts/Comfortaa-Light.ttf') format('truetype'),
}

@font-face {
  font-family: "Comfortaa";
  font-weight: 400;
  src: url('@/assets/fonts/Comfortaa-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: "Comfortaa";
  font-weight: 500;
  src: url('@/assets/fonts/Comfortaa-Medium.ttf') format('truetype'),
}

@font-face {
  font-family: "Comfortaa";
  font-weight: 600;
  src: url('@/assets/fonts/Comfortaa-SemiBold.ttf') format('truetype'),
}

@font-face {
  font-family: "Comfortaa";
  font-weight: 700;
  src: url('@/assets/fonts/Comfortaa-Bold.ttf') format('truetype'),
}