@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: "Marfa";
  font-weight: 100;
  src:
    url('@/assets/fonts/ABCMarfa-Thin-Trial.otf') format('opentype'),
    url('@/assets/fonts/ABCMarfa-Thin-Trial.woff') format('woff'),
    url('@/assets/fonts/ABCMarfa-Thin-Trial.woff2') format('woff2');
}

@font-face {
  font-family: "Marfa";
  font-weight: 400;
  src:
    url('@/assets/fonts/ABCMarfa-Medium-Trial.otf') format('opentype'),
    url('@/assets/fonts/ABCMarfa-Medium-Trial.woff') format('woff'),
    url('@/assets/fonts/ABCMarfa-Medium-Trial.woff2') format('woff2');
}

@font-face {
  font-family: "Marfa";
  font-weight: 600;
  src:
    url('@/assets/fonts/ABCMarfa-Semibold-Trial.otf') format('opentype'),
    url('@/assets/fonts/ABCMarfa-Semibold-Trial.woff') format('woff'),
    url('@/assets/fonts/ABCMarfa-Semibold-Trial.woff2') format('woff2');
}

@font-face {
  font-family: "Marfa";
  font-weight: 800;
  src:
    url('@/assets/fonts/ABCMarfa-Bold-Trial.otf') format('opentype'),
    url('@/assets/fonts/ABCMarfa-Bold-Trial.woff') format('woff'),
    url('@/assets/fonts/ABCMarfa-Bold-Trial.woff2') format('woff2');
}